@import "../../variables";

.colorSelect--simple-red{
    color:$red;
}
.colorSelect--red-brand{
    color:$primary;
}
.colorSelect--red-wine{
    color:$primaryHover;
}
.colorSelect--dark-purpple{
    color:$blue;
}
.colorSelect--darker-purpple{
    color:$brand-footer;
}
.colorSelect--yellow-brand{
    color:$yellow-brand;
}
.colorSelect--yellow-brand-2{
    color:$salmon;
}
.colorSelect--white-brand{
    color:$brand-footer;
}
.colorSelect--white-brand2{
    color:$brand-footer2;
}
.editorialRichText-component-container img{
    width: 100%;
}

.editorialRichText-component-container p a{
    text-decoration: underline;
    font-weight: 600;
}