@import "base/components/_common";

.alertOrderMinimum{
    .error-message {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .error-message-text{
            margin-top: 1rem;
            text-align: center;
        }
    }
}

.error-hero {
    background-image: url('../../images/drschar_static.jpg');
    margin-bottom: 0.625em;
}