.footercontent{
    background-color: $brand-footer;
    border-top: $brand-footer2 1px solid;
    color: $brand-footer3;
    .container{
        .collapsible-xs{
            .title {
                font-family: $font-family-andes;
            }
        }
    }   
}