header {
    .nav-role-navigation{
        background-color: $yellow-brand;
        .header{
            border-bottom: 0px;
            color: $blue;
        }
        .search-field{
            border: 0px;
        }
    }
}

.brand{
   img{
       width: 75px;
       @include media-breakpoint-up(lg) {
           width: 100px;
       }
   }
}