.ul-nav-menu-flynav{
    display: flex;
    justify-content: space-evenly;
    .menu-area{
        position: static;
        .mega-area{
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            padding: 15px;
            &__row{
                display: flex;
                justify-content: center;
                .subcats_row{
                    &__col-img{
                       img{
                           display: none
                       };
                        @include media-breakpoint-up(lg) {
                            img{
                                width: 100%;
                                height: auto;
                                display: block;
                            }
                        }
                    }
                    &__col-desc{
                        padding-top: 5px;
                        a{
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: bold;
                            h2{
                                color: $blue;
                                font-family: $font-family-header;
                                font-size: 16pt;
                            }
                        }
                        span{
                            font-weight: bold;
                            color: $blue;
                        }
                    }
                    &__col-subcat{
                        .ul-subcat{
                            padding: 0;
                            &__item{
                                margin-bottom: 5px;
                                a{
                                    font-size: 12pt;
                                    color: $blue !important;
                                    font-family: $font-family-base;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

