@import "base/_variables";

$white: #fff;
$black: #000;
// $blue: #0070d2;
$green: #008827;
$red: #c00;
$salmon: #FFB75D;
// primary is replaced by css variable --skin-primary-color-1

//Brand
$primary: rgb(207, 0, 62) !default;
$blue: rgb(68, 45, 49) !default;
$primaryHover: rgb(92, 06, 25) !default;
$yellow-brand: rgb(205, 209, 0) !default;
$brand-footer: #f3f1ee;
$brand-footer2: #edeae8;
$brand-footer3: #422d31;
$primary: rgb(207, 0, 62);
$blue: rgb(68, 45, 49);
$primaryHover: rgb(92, 06, 25);
$primary: rgb(207, 0, 62) !default;
$blue: rgb(68, 45, 49) !default;
$primaryHover: rgb(92, 06, 25) !default;
$yellow-brand: rgb(205, 209, 0) !default;
$brand-footer: #f3f1ee;
$brand-footer2: #edeae8;
$brand-footer3: #422d31;

//Messaging
$success: $green;
$Warning: $salmon;
$danger: $red;
$light-blue: #7ed0ee;

// Gray Opaque
$grey1: #DCD3D4;
$grey2: #C4B6B8;
$grey3: #AB999D;
$grey4: #927E81 !default;
$grey5: #796266 !default;
$grey6: #5F474B !default;
$grey7: #442D31 !default;
$grey8: #ccc !default;
$grey9: #999 !default;
$grey-transparent-1: rgba(0, 0, 0, 0.65) !default;
$grey-transparent-2: rgba(0, 0, 0, 0.25) !default;

$light-gray: $grey1 !default;
$slightly-darker-gray: $grey4 !default;
$dark-gray: $grey6 !default;
$darker-gray: $grey7 !default;
$horizontal-rule-grey: $grey3 !default;
$product-number-grey: $grey3 !default;
$horizontal-border-grey: $grey4 !default;
$menu-link: $grey6 !default;
$close-menu-bg: $grey2 !default;
$link-color: $dark-gray !default;
$hr-border-color: $grey3 !default;

$font-family-regular: "Brandon Grotesque Regular";
$font-family-bold: "Brandon Grotesque Bold";
$font-family-black: "Brandon Grotesque Black";
$font-family-light: "Brandon Grotesque Light";
$font-family-medium: "Brandon Grotesque Medium";
$font-family-thin: "Brandon Grotesque Thin";

$font-family-andes:"Andes";

$font-family-header:$font-family-bold;
$font-family-base:$font-family-andes;

@font-face {
    font-family: "Brandon Grotesque Bold";
    src: url("../../fonts/Brandon/Brandon_bld.otf") format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque Black";
    src: url("../../fonts/Brandon/Brandon_blk.otf") format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque Light";
    src: url("../../fonts/Brandon/Brandon_light.otf") format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque Medium";
    src: url("../../fonts/Brandon/Brandon_med.otf") format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url("../../fonts/Brandon/Brandon_reg.otf") format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque Thin";
    src: url("../../fonts/Brandon/Brandon_thin.otf") format("opentype");
}

@font-face {
    font-family: "Andes";
    src: url("../../fonts/ANDES/Latinotype-Andes.otf") format("opentype");
}

$white: #fff !default;
$black: #000 !default;
$blue: #0070d2 !default;
$green: #008827 !default;
// primary is replaced by css variable --skin-primary-color-1
$primary: #00a1e0 !default;
$red: #c00 !default;
$success: $green !default;
$danger: $red !default;
$light-blue: #7ed0ee !default;

// Consolidated values
$grey1: #f9f9f9 !default;
$grey2: #eee !default;
$grey3: #AB999D;
$grey4: #999 !default;
$grey5: #666 !default;
$grey6: #444 !default;
$grey7: #222 !default;
$grey8: #333 !default;
$grey9: #927E81;
$grey-transparent-1: rgba(0, 0, 0, 0.65) !default;
$grey-transparent-2: rgba(0, 0, 0, 0.25) !default;

$light-gray: $grey1 !default;
$slightly-darker-gray: $grey4 !default;
$dark-gray: $grey6 !default;
$darker-gray: $grey7 !default;
$horizontal-rule-grey: $grey3 !default;
$product-number-grey: $grey3 !default;
$horizontal-border-grey: $grey4 !default;
$menu-link: $grey6 !default;
$close-menu-bg: $grey2 !default;
$link-color: $dark-gray !default;
$hr-border-color: $grey3 !default;
