@import 'base/cart.scss';
@import 'product/productInformation.scss';

.recomended-items-label-cart{
    text-align: center;
}

.recomended-items-label{
    display: none;
}

.container .cart .cart-page{
    margin-bottom: 40px;
}