@import "base/checkout/checkout";
@import "checkoutComponents";

.warningShipping {
    color: $red;
}
.shipping-method-pricing .strike-through{
    color: $grey5;
}
.shipping-method-pricing .totalWithAppliedPromotion{
    color: $danger;
}