@import "./experienceGlobal.scss";

.homepage .container-fluid{

    padding-left: 0px;
    padding-right: 0px;

}

.homepage .container .row{
    
    margin-right: 0px;
    margin-left: 0px;

}

.homepage .container .col-12{
    
    padding-left: 0px;
    padding-right: 0px;

}

.col-12.banner1 {
    flex: 0 0 auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.col-12.banner2 {
    flex: 0 0 auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: max-content;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

@include media-breakpoint-down(lg) {
    .banner1 > .experience-component,
    .banner2 > .experience-component{
        padding-bottom: 2.188rem;
        }
  }
  @include media-breakpoint-up(lg) {
    .banner1 > .experience-component,
    .banner2 > .experience-component{
        padding-bottom: 2.188rem;
        }
  }
