{
    "_v": "18.1",
    "clients": [{
        "client_id": "3684c81c-c13a-40f5-8d88-c79f97b04e4e",
        "resources": [{
            "methods": ["get"],
            "read_attributes": "(**)",
            "write_attributes": "(**)",
            "resource_id": "/code_versions"
        }, {
            "methods": ["patch", "delete"],
            "read_attributes": "(**)",
            "write_attributes": "(**)",
            "resource_id": "/code_versions/*"
        }, {
            "methods": ["post"],
            "read_attributes": "(**)",
            "write_attributes": "(**)",
            "resource_id": "/jobs/*/executions"
        }, {
            "methods": ["get"],
            "read_attributes": "(**)",
            "write_attributes": "(**)",
            "resource_id": "/jobs/*/executions/*"
        }, {
            "methods": ["post"],
            "read_attributes": "(**)",
            "write_attributes": "(**)",
            "resource_id": "/sites/*/cartridges"
        }]
    }]
}
